.heading{
    color:black;
    background:yellow;
}
body {
    background-color:red;

}
h4{
    color:purple;
    background-color: black;
}

P{
    color:blueviolet;
}
button{
    color:yellowgreen; 
}
#heading{
    color: black;
    background-color: aqua;
}
